In [1]:
import pandas as pd
import numpy as np

In [5]:
# Datos simulados para Paraguay (10 a√±os)
paraguay_data = pd.DataFrame({
    'GDP': [37.8, 39.6, 40.8, 40.7, 40.3, 42.0, 42.0, 44.0],
    'Inflation': [3.6, 4.0, 2.8, 1.8, 4.8, 9.8, 4.6, 3.8 ],
    'Labor_Force': [3.07, 3.13, 3.26, 3.33, 3.28, 3.41, 3.39, 3.46],
    'Bank_Credit': [41.13, 44.57, 47.73, 50.69, 49.45, 51.00, 52.33, 57.48],
    'Urban_Pop': [61.03, 61.30, 61.58, 61.88, 62.18, 62.50, 62.82, 63.15]
}, index=pd.date_range(start='2016', periods=8, freq='YE'))

In [7]:
paraguay_data

             GDP  Inflation  Labor_Force  Bank_Credit  Urban_Pop
2016-12-31  37.8        3.6         3.07        41.13      61.03
2017-12-31  39.6        4.0         3.13        44.57      61.30
2018-12-31  40.8        2.8         3.26        47.73      61.58
2019-12-31  40.7        1.8         3.33        50.69      61.88
2020-12-31  40.3        4.8         3.28        49.45      62.18
2021-12-31  42.0        9.8         3.41        51.00      62.50
2022-12-31  42.0        4.6         3.39        52.33      62.82
2023-12-31  44.0        3.8         3.46        57.48      63.15

In [ ]:
candidatos_data = {
    'Brazil': pd.DataFrame({
        'GDP': [1743.2, 1766.2, 1797.7, 1819.7, 1760.1, 1843.9, 1899.5, 1954.8],
        'Inflation': [],
        'Labor_Force': [],
        'Bank_Credit': [],
        'Urban_Pop': []
    }, index=pd.date_range(start='2016', periods=8, freq='YE')),

    'Chile': pd.DataFrame({
        'GDP': [],
        'Inflation': [],
        'Labor_Force': [],
        'Bank_Credit': [],
        'Urban_Pop': []
    }, index=pd.date_range(start='2016', periods=8, freq='YE')),
    
    'Colombia': pd.DataFrame({
        'GDP': [],
        'Inflation': [],
        'Labor_Force': [],
        'Bank_Credit': [],
        'Urban_Pop': []
    }, index=pd.date_range(start='2016', periods=8, freq='YE')),

    'Mexico': pd.DataFrame({
        'GDP': [],
        'Inflation': [],
        'Labor_Force': [],
        'Bank_Credit': [],
        'Urban_Pop': []
    }, index=pd.date_range(start='2016', periods=8, freq='YE')),

    'Peru': pd.DataFrame({
        'GDP': [],
        'Inflation': [],
        'Labor_Force': [],
        'Bank_Credit': [],
        'Urban_Pop': []
    }, index=pd.date_range(start='2016', periods=8, freq='YE')),

    'United Arab': pd.DataFrame({
        'GDP': [],
        'Inflation': [],
        'Labor_Force': [],
        'Bank_Credit': [],
        'Urban_Pop': []
    }, index=pd.date_range(start='2016', periods=8, freq='YE')),

    'Turkey': pd.DataFrame({
        'GDP': [],
        'Inflation': [],
        'Labor_Force': [],
        'Bank_Credit': [],
        'Urban_Pop': []
    }, index=pd.date_range(start='2016', periods=8, freq='YE')),

    'Singapore': pd.DataFrame({
        'GDP': [],
        'Inflation': [],
        'Labor_Force': [],
        'Bank_Credit': [],
        'Urban_Pop': []
    }, index=pd.date_range(start='2016', periods=8, freq='YE')),
}