In [9]:
import requests
import re
import json
import pandas as pd

In [7]:
from scrape_house_price_links_ import country_links

print(len(country_links))

Links encontrados: 57
https://www.theglobaleconomy.com/Australia/house_price_index/
https://www.theglobaleconomy.com/Austria/house_price_index/
https://www.theglobaleconomy.com/Belgium/house_price_index/
https://www.theglobaleconomy.com/Brazil/house_price_index/
https://www.theglobaleconomy.com/Bulgaria/house_price_index/
https://www.theglobaleconomy.com/Canada/house_price_index/
https://www.theglobaleconomy.com/Chile/house_price_index/
https://www.theglobaleconomy.com/China/house_price_index/
https://www.theglobaleconomy.com/Colombia/house_price_index/
https://www.theglobaleconomy.com/Croatia/house_price_index/
https://www.theglobaleconomy.com/Cyprus/house_price_index/
https://www.theglobaleconomy.com/Czech-Republic/house_price_index/
https://www.theglobaleconomy.com/Denmark/house_price_index/
https://www.theglobaleconomy.com/Estonia/house_price_index/
https://www.theglobaleconomy.com/Finland/house_price_index/
https://www.theglobaleconomy.com/France/house_price_index/
https://www.theglobaleconomy.com/Germany/house_price_index/
https://www.theglobaleconomy.com/Greece/house_price_index/
https://www.theglobaleconomy.com/Hong-Kong/house_price_index/
https://www.theglobaleconomy.com/Hungary/house_price_index/
https://www.theglobaleconomy.com/Iceland/house_price_index/
https://www.theglobaleconomy.com/India/house_price_index/
https://www.theglobaleconomy.com/Indonesia/house_price_index/
https://www.theglobaleconomy.com/Ireland/house_price_index/
https://www.theglobaleconomy.com/Israel/house_price_index/
https://www.theglobaleconomy.com/Italy/house_price_index/
https://www.theglobaleconomy.com/Japan/house_price_index/
https://www.theglobaleconomy.com/Latvia/house_price_index/
https://www.theglobaleconomy.com/Lithuania/house_price_index/
https://www.theglobaleconomy.com/Luxembourg/house_price_index/
https://www.theglobaleconomy.com/Macedonia/house_price_index/
https://www.theglobaleconomy.com/Malaysia/house_price_index/
https://www.theglobaleconomy.com/Malta/house_price_index/
https://www.theglobaleconomy.com/Mexico/house_price_index/
https://www.theglobaleconomy.com/Morocco/house_price_index/
https://www.theglobaleconomy.com/Netherlands/house_price_index/
https://www.theglobaleconomy.com/New-Zealand/house_price_index/
https://www.theglobaleconomy.com/Norway/house_price_index/
https://www.theglobaleconomy.com/Peru/house_price_index/
https://www.theglobaleconomy.com/Philippines/house_price_index/
https://www.theglobaleconomy.com/Poland/house_price_index/
https://www.theglobaleconomy.com/Portugal/house_price_index/
https://www.theglobaleconomy.com/Romania/house_price_index/
https://www.theglobaleconomy.com/Russia/house_price_index/
https://www.theglobaleconomy.com/Serbia/house_price_index/
https://www.theglobaleconomy.com/Singapore/house_price_index/
https://www.theglobaleconomy.com/Slovakia/house_price_index/
https://www.theglobaleconomy.com/Slovenia/house_price_index/
https://www.theglobaleconomy.com/South-Africa/house_price_index/
https://www.theglobaleconomy.com/South-Korea/house_price_index/
https://www.theglobaleconomy.com/Spain/house_price_index/
https://www.theglobaleconomy.com/Sweden/house_price_index/
https://www.theglobaleconomy.com/Switzerland/house_price_index/
https://www.theglobaleconomy.com/Thailand/house_price_index/
https://www.theglobaleconomy.com/Turkey/house_price_index/
https://www.theglobaleconomy.com/USA/house_price_index/
https://www.theglobaleconomy.com/United-Kingdom/house_price_index/
57

In [10]:
# Paso 1: Obtener el HTML de la página
url = country_links[0]
response = requests.get(url)
html = response.text

In [11]:
# Paso 2: Buscar el bloque de datos dentro del arrayToDataTable
pattern = r'arrayToDataTable\((\[\[.*?\]\])\)'  # Regex para capturar la lista de listas
match = re.search(pattern, html, re.DOTALL)

In [12]:
if match:
    data_str = match.group(1)
    # Paso 3: Convertir el string de lista a un objeto Python
    data = json.loads(data_str)
    
    # Paso 4: Convertir a DataFrame
    df = pd.DataFrame(data[1:], columns=data[0])  # Excluye la cabecera en el cuerpo
    print(df.head())
else:
    print("No se encontraron los datos en la página.")

  Time Period  Value
0     Q1 1990  28.24
1     Q2 1990  28.50
2     Q3 1990  28.24
3     Q4 1990  28.41
4     Q1 1991  28.38

In [13]:
df

    Time Period   Value
0       Q1 1990   28.24
1       Q2 1990   28.50
2       Q3 1990   28.24
3       Q4 1990   28.41
4       Q1 1991   28.38
..          ...     ...
135     Q4 2023  185.05
136     Q1 2024  188.10
137     Q2 2024  192.13
138     Q3 2024  194.75
139     Q4 2024  195.13

[140 rows x 2 columns]