In [2]:
import requests
import re
import json
import pandas as pd
import time
from urllib.parse import urlparse
from bs4 import BeautifulSoup
from dotenv import load_dotenv
import os

In [3]:
# 1. Obtener el HTML de la p√°gina del ranking
load_dotenv()
url = os.getenv("TARGET_URL_GDP")
BASE_URL = os.getenv("BASE_URL")

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"
}

response = requests.get(url, headers=headers)
response.raise_for_status()  # Lanza error si la petici√≥n falla

In [5]:
# 2. Parsear HTML con BeautifulSoup
soup = BeautifulSoup(response.text, "html.parser")

In [6]:
# 3. Buscar la tabla principal y extraer los links
table = soup.find("table")
country_links = []


if table:
    rows = table.find_all("tr")
    for row in rows:
        cell = row.find("td")
        if cell and cell.a:
            relative_link = cell.a["href"]
            full_url = f"{BASE_URL}{relative_link}"
            country_links.append(full_url)

# Convertir la lista en DataFrame
df_links = pd.DataFrame(country_links, columns=["url"])

# Guardar como archivo Parquet
df_links.to_parquet("data/country_gdp_links.parquet", index=False)

In [8]:
# 4. Mostrar resultado
print("Links encontrados:", df_links.size)

Links encontrados: 125

In [9]:
# configuracion necesaria para descargar datos

master_df = pd.DataFrame()

pattern = r'arrayToDataTable\((\[\[.*?\]\])\)'

sleep_duration = 5

In [10]:
# Cargar los pa√≠ses v√°lidos desde el archivo parquet
df_countries = pd.read_parquet("data/countries_with_hpi.parquet")
valid_countries = set(df_countries["country"].unique())

In [27]:
master_df.to_parquet("gdp_values.parquet", index=False)

In [11]:
start_time = time.time()
for url in country_links:
    # Extraer pa√≠s desde el URL
    country = urlparse(url).path.strip("/").split("/")[0]

    # Verificar si el pa√≠s est√° en la lista v√°lida
    if country not in valid_countries:
        print(f"‚è≠Ô∏è Pa√≠s {country} no est√° en la lista, se omite.")
        continue

    try:
        response = requests.get(url, headers=headers)
        html = response.text

        match = re.search(pattern, html, re.DOTALL)
        if match:
            data_str = match.group(1)
            data = json.loads(data_str)

            df = pd.DataFrame(data[1:], columns=data[0])
            df.columns = ["Period", "Value"]
            df["Country"] = country

            df_pivot = df.pivot(index="Period", columns="Country", values="Value")
            master_df = pd.merge(master_df, df_pivot, how="outer", left_index=True, right_index=True)

            print(f"‚úÖ Datos extra√≠dos correctamente para {country}")
        else:
            print(f"‚ö†Ô∏è No se encontraron datos en {url}")
    except Exception as e:
        print(f"‚ùå Error procesando {url}: {e}")
    
    time.sleep(sleep_duration)

end_time = time.time()
total_sleep_time = len(valid_countries) * sleep_duration
effective_time = end_time - start_time - total_sleep_time

print(f"‚è≥ Tiempo total (incluyendo esperas): {end_time - start_time:.2f} s")
print(f"üò¥ Tiempo en espera: {total_sleep_time:.2f} s")
print(f"‚ö° Tiempo efectivo de ejecuci√≥n: {effective_time:.2f} s")

‚è≠Ô∏è Pa√≠s Afghanistan no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Albania no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Algeria no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Argentina no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Armenia no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Australia
‚úÖ Datos extra√≠dos correctamente para Austria
‚è≠Ô∏è Pa√≠s Azerbaijan no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Bahamas no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Bahrain no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Bangladesh no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Belarus no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Belgium
‚è≠Ô∏è Pa√≠s Bermuda no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Bolivia no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Bosnia-and-Herzegovina no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Botswana no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Brazil
‚è≠Ô∏è Pa√≠s Brunei no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Bulgaria
‚è≠Ô∏è Pa√≠s Burkina-Faso no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Burma-Myanmar no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Cameroon no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Canada
‚è≠Ô∏è Pa√≠s Cape-Verde no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Chile
‚úÖ Datos extra√≠dos correctamente para China
‚úÖ Datos extra√≠dos correctamente para Colombia
‚è≠Ô∏è Pa√≠s Costa-Rica no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Croatia
‚úÖ Datos extra√≠dos correctamente para Cyprus
‚úÖ Datos extra√≠dos correctamente para Czech-Republic
‚úÖ Datos extra√≠dos correctamente para Denmark
‚è≠Ô∏è Pa√≠s Dominican-Republic no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Ecuador no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Egypt no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s El-Salvador no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Estonia
‚è≠Ô∏è Pa√≠s Euro_area no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Finland
‚úÖ Datos extra√≠dos correctamente para France
‚è≠Ô∏è Pa√≠s Georgia no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Germany
‚è≠Ô∏è Pa√≠s Ghana no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Greece
‚è≠Ô∏è Pa√≠s Guatemala no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Guyana no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Hong-Kong
‚úÖ Datos extra√≠dos correctamente para Hungary
‚úÖ Datos extra√≠dos correctamente para Iceland
‚úÖ Datos extra√≠dos correctamente para India
‚úÖ Datos extra√≠dos correctamente para Indonesia
‚è≠Ô∏è Pa√≠s Iran no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Ireland
‚úÖ Datos extra√≠dos correctamente para Israel
‚úÖ Datos extra√≠dos correctamente para Italy
‚è≠Ô∏è Pa√≠s Jamaica no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Japan
‚è≠Ô∏è Pa√≠s Jordan no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Kazakhstan no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Kenya no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Kuwait no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Kyrgyzstan no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Latvia
‚è≠Ô∏è Pa√≠s Lebanon no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Lesotho no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Lithuania
‚úÖ Datos extra√≠dos correctamente para Luxembourg
‚è≠Ô∏è Pa√≠s Macao no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Macedonia
‚úÖ Datos extra√≠dos correctamente para Malaysia
‚è≠Ô∏è Pa√≠s Maldives no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Malta
‚è≠Ô∏è Pa√≠s Mauritius no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Mexico
‚è≠Ô∏è Pa√≠s Moldova no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Mongolia no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Montenegro no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Morocco
‚è≠Ô∏è Pa√≠s Namibia no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Netherlands
‚úÖ Datos extra√≠dos correctamente para New-Zealand
‚è≠Ô∏è Pa√≠s Nicaragua no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Nigeria no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Norway
‚è≠Ô∏è Pa√≠s Oman no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Palestine no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Panama no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Paraguay no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Peru
‚úÖ Datos extra√≠dos correctamente para Philippines
‚úÖ Datos extra√≠dos correctamente para Poland
‚úÖ Datos extra√≠dos correctamente para Portugal
‚è≠Ô∏è Pa√≠s Qatar no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Romania
‚úÖ Datos extra√≠dos correctamente para Russia
‚è≠Ô∏è Pa√≠s Rwanda no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Samoa no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Saudi-Arabia no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Senegal no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Serbia
‚è≠Ô∏è Pa√≠s Seychelles no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Singapore
‚úÖ Datos extra√≠dos correctamente para Slovakia
‚úÖ Datos extra√≠dos correctamente para Slovenia
‚úÖ Datos extra√≠dos correctamente para South-Africa
‚úÖ Datos extra√≠dos correctamente para South-Korea
‚úÖ Datos extra√≠dos correctamente para Spain
‚è≠Ô∏è Pa√≠s Sri-Lanka no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Sweden
‚úÖ Datos extra√≠dos correctamente para Switzerland
‚è≠Ô∏è Pa√≠s Taiwan no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Tajikistan no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Tanzania no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Thailand
‚è≠Ô∏è Pa√≠s Tunisia no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para Turkey
‚úÖ Datos extra√≠dos correctamente para USA
‚è≠Ô∏è Pa√≠s Uganda no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Ukraine no est√° en la lista, se omite.
‚úÖ Datos extra√≠dos correctamente para United-Kingdom
‚è≠Ô∏è Pa√≠s Uruguay no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Uzbekistan no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Vietnam no est√° en la lista, se omite.
‚è≠Ô∏è Pa√≠s Zambia no est√° en la lista, se omite.
‚è≥ Tiempo total (incluyendo esperas): 356.22 s
üò¥ Tiempo en espera: 285.00 s
‚ö° Tiempo efectivo de ejecuci√≥n: 71.22 s

In [13]:
# obtain paraguay url
template_url = country_links[0]
country = "Paraguay"

# Separar por "/"
parts = template_url.strip("/").split("/")

# Reemplazar el pa√≠s (posici√≥n 3: despu√©s del dominio)
# ['https:', '', 'www.theglobaleconomy.com', 'Albania', 'investment_growth']
parts[3] = country

# Reconstruir la URL
custom_url = "/".join(parts) + "/"

In [14]:
# extract and include paraguay

response = requests.get(custom_url, headers=headers)
html = response.text

match = re.search(pattern, html, re.DOTALL)
if match:
    data_str = match.group(1)
    data = json.loads(data_str)

    df = pd.DataFrame(data[1:], columns=data[0])
    df.columns = ["Period", "Value"]
    df["Country"] = country

    df_pivot = df.pivot(index="Period", columns="Country", values="Value")
    master_df = pd.merge(master_df, df_pivot, how="outer", left_index=True, right_index=True)

    print(f"‚úÖ Datos extra√≠dos correctamente para {country}")

‚úÖ Datos extra√≠dos correctamente para Paraguay

In [15]:
# Resetear el √≠ndice para separar "Period"
master_df = master_df.reset_index()

# Separar "Q1 1990" en "Quarter" y "Year"
master_df[["Quarter", "Year"]] = master_df["Period"].str.extract(r"Q(\d)\s+(\d{4})").astype(int)

# Reordenar las columnas: primero Quarter y Year
cols = ["Quarter", "Year"] + [col for col in master_df.columns if col not in ["Period", "Quarter", "Year"]]
master_df = master_df[cols]

# Ordenar por Year y Quarter
master_df = master_df.sort_values(by=["Year", "Quarter"]).reset_index(drop=True)

In [16]:
master_df.head()

,Quarter,Year,Australia,Austria,Belgium,Brazil,Bulgaria,Canada,Chile,China,...,South-Africa,South-Korea,Spain,Sweden,Switzerland,Thailand,Turkey,USA,United-Kingdom,Paraguay
0,1,1960,3.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,49.06,NaN,NaN,NaN,NaN,NaN,135.83,6.43,NaN
1,2,1960,4.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,67.98,NaN,NaN,NaN,NaN,NaN,135.68,6.48,NaN
2,3,1960,4.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,61.00,NaN,NaN,NaN,NaN,NaN,136.50,6.58,NaN
3,4,1960,4.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,71.79,NaN,NaN,NaN,NaN,NaN,135.28,6.71,NaN
4,1,1961,4.23,NaN,NaN,NaN,NaN,9.51,NaN,NaN,...,NaN,61.95,NaN,NaN,NaN,NaN,NaN,136.48,6.88,NaN

In [17]:
master_df.tail()

,Quarter,Year,Australia,Austria,Belgium,Brazil,Bulgaria,Canada,Chile,China,...,South-Africa,South-Korea,Spain,Sweden,Switzerland,Thailand,Turkey,USA,United-Kingdom,Paraguay
257,2,2024,678.35,120.93,154.65,2921.23,48.14,753.92,75091.54,32883.76,...,1827.69,636205.4,400.31,1618.85,206.50,4520.55,9920.84,7254.18,699.17,81953.81
258,3,2024,676.79,119.00,147.88,2989.91,53.77,800.82,75344.20,34175.80,...,1859.09,643531.6,393.31,1548.65,206.60,4615.84,11915.59,7343.73,716.05,80770.75
259,4,2024,715.14,126.77,163.78,3080.37,57.59,798.84,84662.46,37372.62,...,1928.18,668933.8,420.44,1698.81,210.09,4823.23,12704.05,7430.98,735.14,89086.69
260,1,2025,675.42,119.38,152.24,3019.58,45.62,757.58,82042.34,31875.80,...,1798.80,622771.1,397.66,1552.81,207.83,4744.03,12125.17,7490.50,744.73,92478.27
261,2,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,423.04,NaN,NaN,NaN,NaN,7582.78,NaN,NaN

In [19]:
df_links.to_parquet("data/countries_gdp_values.parquet", index=False)